###  list of dictionaries

In [47]:
customer_29876 = [
{
"first name": "David",
"last name": "Elliott",
"address": "4803 Wellesley St.",
},
{
"first name": "Taha",
"last name": "Elliott",
"address": "4803 Wellesley St.",
},
{
"first name": "Saim",
"last name": "Elliott",
"address": "4803 Wellesley St.",
}
]

In [48]:
customer_29876

[{'first name': 'David',
  'last name': 'Elliott',
  'address': '4803 Wellesley St.'},
 {'first name': 'Taha',
  'last name': 'Elliott',
  'address': '4803 Wellesley St.'},
 {'first name': 'Saim',
  'last name': 'Elliott',
  'address': '4803 Wellesley St.'}]

In [18]:
customer_29876[0]

KeyError: 0

In [22]:
customer_29876

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.'}

### How to append a Dictionaris `

In [50]:
customer_29876

[{'first name': 'David',
  'last name': 'Elliott',
  'address': '4803 Wellesley St.'},
 {'first name': 'Taha',
  'last name': 'Elliott',
  'address': '4803 Wellesley St.'},
 {'first name': 'Saim',
  'last name': 'Elliott',
  'address': '4803 Wellesley St.'}]

In [37]:
dict_customer = {
    'customer_id': 1,
    'customer_name': 'Taha',
    'discounts': ['Standard', 'Volume', 'Loyalty']
}

In [49]:
dict_customer

{'customer_id': 1,
 'customer_name': 'Taha',
 'discounts': ['Standard', 'Volume', 'Loyalty']}

In [39]:
dict_customer['discounts']

['Standard', 'Volume', 'Loyalty']

In [40]:
dict_customer['discounts'][1]

'Volume'

In [41]:
lst = ['Taha', 'Owais', 'Saim']

In [42]:
lst

['Taha', 'Owais', 'Saim']

In [43]:
set1 = set(lst)

In [44]:
set1

{'Owais', 'Saim', 'Taha'}

In [52]:
customer_29876 = {
'customer_1': {
"first name": "David",
"last name": "Elliott",
"address": "4803 Wellesley St.",
},
'customer_2': {
"first name": "Taha",
"last name": "Elliott",
"address": "4803 Wellesley St.",
},
'customer_3': {
"first name": "Saim",
"last name": "Elliott",
"address": "4803 Wellesley St.",
}
}

In [53]:
customer_29876

{'customer_1': {'first name': 'David',
  'last name': 'Elliott',
  'address': '4803 Wellesley St.'},
 'customer_2': {'first name': 'Taha',
  'last name': 'Elliott',
  'address': '4803 Wellesley St.'},
 'customer_3': {'first name': 'Saim',
  'last name': 'Elliott',
  'address': '4803 Wellesley St.'}}

In [54]:
customer_29876['customer_1']

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.'}

In [56]:
customer_29876['customer_1']['first name']

'David'

## Function

In [57]:
num1 = 5
num2 = 10 
total = num1 + num2

In [58]:
total

15

In [59]:
def addition ():
    num1 = int(input("Enter First Number"))
    num2 = int(input("Enter Second Number"))
    print(num1 + num2)

In [60]:
addition()

Enter First Number 5
Enter Second Number 10

15

In [80]:
def calculator ():
    num1 = int(input("Enter First Number"))
    num2 = int(input("Enter Second Number"))
    user = input("Enter Operator +, -, *, /")

    if user == "+":
        print("Results", num1 + num2)
    elif user == "-":
        print("Results", num1 - num2)
    elif user == "*":
        print("Results", num1 * num2)
    elif user == "/":
        print("Results", num1 / num2)
    else:
        print("Sorry, try again")

In [82]:
calculator()

Enter First Number 5
Enter Second Number 5
Enter Operator +, -, *, / *

Results 25

In [86]:
def calculator1 (num1, num2, user): #-> parameters

    if user == "+":
        print("Results", num1 + num2)
    elif user == "-":
        print("Results", num1 - num2)
    elif user == "*":
        print("Results", num1 * num2)
    elif user == "/":
        print("Results", num1 / num2)
    else:
        print("Sorry, try again")

In [88]:
calculator1(5,7,'+') #-> Arguments

Results 12

In [113]:
lists = []
def Register(name, email, password):
    lists.append(name)
    lists.append(email)
    lists.append(password)
    print(lists)

    Register("Syed Taha", "tsyed6804@gmail.com", "taha12345")

TypeError: Register() missing 3 required positional arguments: 'name', 'email', and 'password'

In [119]:
lists = []
def Register(name, email, password):
    
    lists.append(name)
    lists.append(email)
    lists.append(password)
    print(lists)

    Register("Syed Taha", "tsyed6804@gmail.com", "taha12345")

In [121]:
Register()

TypeError: Register() missing 3 required positional arguments: 'name', 'email', and 'password'

In [118]:
def Login(email, password): 
    if(lists[1] == email and lists[2] == password):
        print ("Welcome")
    else:
        print ("Register First")

Login("tsyed6804", "taha12345")

IndexError: list index out of range

In [125]:
def display_result(winner, score, **other_args):
    print("The winner was" + winner)
    print("The score was" + score)
    print("Other Args" + other_args)

In [127]:
display_result(winner="Taha", score="100", overtime="Yes")

The winner wasTaha
The score was100

TypeError: can only concatenate str (not "dict") to str