In [1]:
for temp in [1,2,3,4,5]:
    print(temp)

1
2
3
4
5

In [2]:
for bio_info in ('Muhammad Taha', 25,50.55):
    print(bio_info)

Muhammad Taha
25
50.55

In [9]:
for i in [1,2,3,4,5]: 
    print("Happy Birthday")

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

In [10]:
for i in range(5): 
    print("Happy Birthday")

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

In [29]:
user = int(input("Enter a number "))
for i in (user):
    print("The first number is", user, "terms of the series are :")
    print(i)

Enter a number  2

The first number is 2 terms of the series are :
2