In [1]:
for temp in [1,2,3,4,5]:
    print(temp)

1
2
3
4
5

In [2]:
for bio_info in ('Muhammad Taha', 25,50.55):
    print(bio_info)

Muhammad Taha
25
50.55

In [9]:
for i in [1,2,3,4,5]: 
    print("Happy Birthday")

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

In [10]:
for i in range(5): 
    print("Happy Birthday")

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

In [32]:
user = int(input("Enter a number "))
for temp in range(user):
    print((temp+1)**2)

Enter a number  5

1
4
9
16
25

In [36]:
table = int(input("Enter a Table Number"))
times = int(input("How many times to print table"))
for temp in range(times):
    print(f"{table} * {temp+1} = {table * (temp+1)}")

Enter a Table Number 2
How many times to print table 5

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [37]:
table = int(input("Enter a table number"))
times = int(input("How many times to print table"))
for temp in range(times):
    print(f"{table} * {temp+1} = {table * (temp+1)}")

Enter a table number 5
How many times to print table 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [41]:
num = 11
for i in [2,3,4,5]:
    for j in range(1,num):
        print(f"{i} * {j} = {i*j}")
        num = -1
        print(f"-------------")

2 * 1 = 2
-------------
2 * 2 = 4
-------------
2 * 3 = 6
-------------
2 * 4 = 8
-------------
2 * 5 = 10
-------------
2 * 6 = 12
-------------
2 * 7 = 14
-------------
2 * 8 = 16
-------------
2 * 9 = 18
-------------
2 * 10 = 20
-------------

In [39]:
for table in range(2,5):
    for temp in range(times):
        print(f)

2
3
4

### Dictionaries:

In [71]:
bio_data = {
    "f_name": "Muhammad",
    "l_name": "Taha",
    "age": 21,
    "weight": 5.55,
    "is_present":  True
}

In [72]:
print(bio_data)

{'f_name': 'Muhammad', 'l_name': 'Taha', 'age': 21, 'weight': 5.55, 'is_present': True}

In [73]:
bio_data.values()

dict_values(['Muhammad', 'Taha', 21, 5.55, True])

In [74]:
bio_data.keys()

dict_keys(['f_name', 'l_name', 'age', 'weight', 'is_present'])

In [77]:
bio_data.get("f_name"),bio_data.get("f_namel")

('Muhammad', None)

In [81]:
bio_data.update()

In [82]:
print(bio_data)

{'f_name': 'Muhammad', 'l_name': 'Taha', 'age': 21, 'weight': 5.55, 'is_present': True}

In [87]:
bio_data.pop("f_name")

'Muhammad'

In [88]:
bio_data

{'l_name': 'Taha', 'age': 21, 'weight': 5.55, 'is_present': True}

In [89]:
bio_data.popitem()

('is_present', True)

In [90]:
bio_data

{'l_name': 'Taha', 'age': 21, 'weight': 5.55}

In [91]:
bio_data.popitem()

('weight', 5.55)

In [92]:
bio_data

{'l_name': 'Taha', 'age': 21}

In [100]:
bio_data.setdefault("f_name")

In [98]:
bio_data

{'l_name': 'Taha', 'age': 21, 'f_name': None}

In [105]:
bio_data

{'l_name': 'Taha', 'age': 21, 'f_name': None}

In [ ]:
bio_data